<h1>Flip Button</h1>

<div onclick={{action toggle}} class='flip-button-container'>
  <button class='flip-button flip-button-front{{frontStatus}}'>
    Submit
  </button>
  <button class='flip-button flip-button-back{{backStatus}}'>
    Sent!
  </button>
</div>
